.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    display: inline-block;
    height: 50px;
    padding: 20px;
    color: white;
    width: 100%;
}

h1 {
    font-size: 40px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.inline {
    display: inline;
}

#options {
    width: 50%;
    float: left;
    margin-top: 30px;
}

#letters {
    width: 15%;
    margin: 0 65px;
}

#rows-container {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 2px solid #0DA40A;
}

#row-options {
    display: inline-block;
    width: 50%;
    border: 3px solid #C04B1B;
    float: left;
}

.boxes {
    width: 40%;
    display: inline;
    margin-top: 40px;
    transform: scale(2);
}